@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,900;1,700&display=swap");
.App {
  text-align: center;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Work Sans", sans-serif !important;
}
.bg-first {
  background-color: #40c9a2;
}
.bg-second {
  background-color: #a3f7b5;
}
.bg-third {
  background-color: #e5f9e0;
}
.text-left {
  text-align: left;
}
.font-weight-bold{
  font-weight: 600;
}

